.intro.hasOverly{:style => "background-image: url(/assets/ibg.jpg); background-position: center center;"}
  .dtable.hw100
    .dtable-cell.hw100
      .container.text-center
        %h1.intro-title.animated.fadeInDown ¿Buscas un tema en especifico?
        %p.sub.animateme.fittext3.animated.fadeIn Busca el artículo sobre este tema.
        .row.search-row.animated.fadeInUp
          .col-lg-6.col-sm-6.search-col.relative.locationicon
            %i.icon-doc-1.icon-append
            %input#autocomplete-ajax.form-control.locinput.input-rel.searchtag-input.has-icon{:name => "country", :placeholder => "Palabra clave, tema, nombre, autor..", :type => "text", :value => ""}/
          .col-lg-6.col-sm-6.search-col
            %button.btn.btn-primary.btn-search.btn-block{:style => "background-image: none;"}
              %i.icon-search
              %strong
                Buscar
        .resume-up
          %a
            %i.icon-star
          %a
            %b Recuerda que para leer todos los artículos debes ser miembro premium.
.main-container
  .container
    .row
      .col-sm-3.page-sidebar.col-thin-left
        %aside
          -#.inner-box.no-padding
          -#  .inner-box-content
          -#    %a{:href => "#"}
          -#      %img.img-responsive{:alt => "tv", :src => "images/site/app.jpg"}/
          .inner-box
            %h2.title-2 Menú
            .inner-box-content
              %ul.cat-list.arrow
                %li
                  %a{:href => "job-list.html"}
                    En vivos
                    %span.count (123)
                %li
                  %a{:href => "job-list.html"}
                    Ebooks
                    %span.count (403)
                %li
                  %a{:href => "job-list.html"}
                    Motivación
                    %span.count (3,189)
                %li
                  %a{:href => "job-list.html"}
                    Lesiones
                    %span.count (2,531)
                %li
                  %a{:href => "job-list.html"}
                    Nutrición
                    %span.count (12,578)
                %li
                  %a{:href => "job-list.html"}
                    Entrenamiento
                    %span.count (4,546)
          .inner-box.no-padding.hidden-xs
            %img.img-responsive{:alt => "", :src => "/assets/add2.jpg"}/
      .col-sm-9.page-content.col-thin-right
        .content-box.col-lg-12
          .row.row-featured.row-featured-category
            .col-lg-12.box-title.no-border
              .inner
                %h2
                  %span Últimos
                  artículos
                  %a.sell-your-item{:href => "job-list.html"}
                    Ver todos
                    %i.icon-th-list
            .adds-wrapper.jobs-list
              .item-list.job-item
                .col-sm-1.col-xs-2.no-padding.photobox
                  .add-image
                    %a{:href => ""}
                      %img.thumbnail.no-margin{:alt => "post image", :src => "/assets/company-logos/1.jpg"}/
                / /.photobox
                .col-sm-10.col-xs-10.add-desc-box
                  .add-details.jobs-item
                    %h5.company-title
                      %a{:href => ""} Audio
                    %h4.job-title
                      %a{:href => "job-details.html"} Nutrición en simios
                    %span.info-row
                      %span.salary
                        %i.icon-tag
                        Nutrición
                      %span.date
                        %i.icon-calendar-1>
                        01/01/2018
                      %span.item-location
                        %i.icon-user-3
                        Carlos Jaramillo
                    .jobs-desc
                      Este audio habla sobre la nutrición en micos Jaja.
                / /.add-desc-box
                / /.add-desc-box
              / /.job-item
              .item-list.job-item
                .col-sm-1.col-xs-2.no-padding.photobox
                  .add-image
                    %a{:href => ""}
                      %img.thumbnail.no-margin{:alt => "post image", :src => "/assets/company-logos/1.jpg"}/
                / /.photobox
                .col-sm-10.col-xs-10.add-desc-box
                  .add-details.jobs-item
                    %h5.company-title
                      %a{:href => ""} Video
                    %h4.job-title
                      %a{:href => "job-details.html"} Entrenamiento en simios
                    %span.info-row
                      %span.salary
                        %i.icon-tag
                        Entrenamiento
                      %span.date
                        %i.icon-calendar-1>
                        01/01/2018
                      %span.item-location
                        %i.icon-user-3
                        Carlos Jaramillo
                    .jobs-desc
                      Este video habla sobre el entrenamiento en micos Jaja.
                / /.add-desc-box
                / /.add-desc-box
              / /.job-item
              .item-list.job-item
                .col-sm-1.col-xs-2.no-padding.photobox
                  .add-image
                    %a{:href => ""}
                      %img.thumbnail.no-margin{:alt => "post image", :src => "/assets/company-logos/1.jpg"}/
                / /.photobox
                .col-sm-10.col-xs-10.add-desc-box
                  .add-details.jobs-item
                    %h5.company-title
                      %a{:href => ""} Audio
                    %h4.job-title
                      %a{:href => "job-details.html"} Nutrición en simios
                    %span.info-row
                      %span.salary
                        %i.icon-tag
                        Nutrición
                      %span.date
                        %i.icon-calendar-1>
                        01/01/2018
                      %span.item-location
                        %i.icon-user-3
                        Carlos Jaramillo
                    .jobs-desc
                      Este audio habla sobre la nutrición en micos Jaja.
                / /.add-desc-box
                / /.add-desc-box
              / /.job-item
              .item-list.job-item
                .col-sm-1.col-xs-2.no-padding.photobox
                  .add-image
                    %a{:href => ""}
                      %img.thumbnail.no-margin{:alt => "post image", :src => "/assets/company-logos/1.jpg"}/
                / /.photobox
                .col-sm-10.col-xs-10.add-desc-box
                  .add-details.jobs-item
                    %h5.company-title
                      %a{:href => ""} Video
                    %h4.job-title
                      %a{:href => "job-details.html"} Entrenamiento en simios
                    %span.info-row
                      %span.salary
                        %i.icon-tag
                        Entrenamiento
                      %span.date
                        %i.icon-calendar-1>
                        01/01/2018
                      %span.item-location
                        %i.icon-user-3
                        Carlos Jaramillo
                    .jobs-desc
                      Este video habla sobre el entrenamiento en micos Jaja.
                / /.add-desc-box
                / /.add-desc-box
              / /.job-item
              .item-list.job-item
                .col-sm-1.col-xs-2.no-padding.photobox
                  .add-image
                    %a{:href => ""}
                      %img.thumbnail.no-margin{:alt => "post image", :src => "/assets/company-logos/1.jpg"}/
                / /.photobox
                .col-sm-10.col-xs-10.add-desc-box
                  .add-details.jobs-item
                    %h5.company-title
                      %a{:href => ""} Audio
                    %h4.job-title
                      %a{:href => "job-details.html"} Nutrición en simios
                    %span.info-row
                      %span.salary
                        %i.icon-tag
                        Nutrición
                      %span.date
                        %i.icon-calendar-1>
                        01/01/2018
                      %span.item-location
                        %i.icon-user-3
                        Carlos Jaramillo
                    .jobs-desc
                      Este audio habla sobre la nutrición en micos Jaja.
                / /.add-desc-box
                / /.add-desc-box
              / /.job-item
            .tab-box.save-search-bar.text-center
              %a.text-uppercase{:href => "job-list.html"}
                %i.icon-plus
                Ver más artículos
    %div{:style => "clear: both"}
.parallaxbox.about-parallax-bottom
  .container
    .row.text-center.featuredbox
      .col-sm-4.xs-gap
        .inner
          .icon-box-wrap
            %i.icon-person.ln-shadow-box.shape-3
          %h3.title-4 Entrenamiento
          %p
            Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
            posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
            tortor.
      .col-sm-4.xs-gap
        .inner
          .icon-box-wrap
            %i.icon-food-1.ln-shadow-box.shape-6
          %h3.title-4 Nutrición
          %p
            Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
            posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor.
      .col-sm-4.xs-gap
        .inner
          .icon-box-wrap
            %i.icon-smiley.ln-shadow-box.shape-5
          %h3.title-4 Motivación
          %p
            Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
            posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
            tortor.
.main-container
  .container
    .col-lg-12.content-box
      .row.row-featured.row-featured-category
        .col-lg-12.box-title.no-border
          .inner
            %h2
              %span videos por
              Musculo
              %a.sell-your-item{:href => "category.html"}
                Ver todos
                %i.icon-th-list
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-neck-96.png', :class => 'img-responsive')
            %h6 Trapecios
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-bodybuilder-96.png', :class => 'img-responsive')
            %h6 Espalda
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-shoulders-96.png', :class => 'img-responsive')
            %h6 Hombros
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-biceps-96.png', :class => 'img-responsive')
            %h6 Biceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-triceps-96.png', :class => 'img-responsive')
            %h6 Triceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-muscle-96.png', :class => 'img-responsive')
            %h6 Antebrazo
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-chest-96.png', :class => 'img-responsive')
            %h6 Pecho
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-prelum-96.png', :class => 'img-responsive')
            %h6 Abdominales
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-cuadriceps-96.png', :class => 'img-responsive')
            %h6 Cuadriceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-glutes-96.png', :class => 'img-responsive')
            %h6 Gluteos
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-hamstrings-96.png', :class => 'img-responsive')
            %h6 Isquiotibial
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-calves-96.png', :class => 'img-responsive')
            %h6 Pantorrilla
        //.col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
        //  %a{:href => "category.html"}
        //    =image_tag('muscles/icons8-glutes-96.png', :class => 'img-responsive')
        //    %h6 Pierna posterior
    %div{:style => "clear: both"}
    .col-lg-12.content-box
      .row.row-featured.row-featured-category
        .col-lg-12.box-title.no-border
          .inner
            %h2
              %span videos por
              Musculo
              %a.sell-your-item{:href => "category.html"}
                Ver todos
                %i.icon-th-list
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-neck-96.png', :class => 'img-responsive')
            %h6 Trapecios
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-bodybuilder-96.png', :class => 'img-responsive')
            %h6 Espalda
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-shoulders-96.png', :class => 'img-responsive')
            %h6 Hombros
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-biceps-96.png', :class => 'img-responsive')
            %h6 Biceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-triceps-96.png', :class => 'img-responsive')
            %h6 Triceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-muscle-96.png', :class => 'img-responsive')
            %h6 Antebrazo
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-chest-96.png', :class => 'img-responsive')
            %h6 Pecho
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-prelum-96.png', :class => 'img-responsive')
            %h6 Abdominales
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-cuadriceps-96.png', :class => 'img-responsive')
            %h6 Cuadriceps
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-glutes-96.png', :class => 'img-responsive')
            %h6 Gluteos
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-hamstrings-96.png', :class => 'img-responsive')
            %h6 Isquiotibial
        .col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
          %a{:href => "category.html"}
            =image_tag('muscles/icons8-calves-96.png', :class => 'img-responsive')
            %h6 Pantorrilla
        //.col-lg-2.col-md-3.col-sm-3.col-xs-4.f-category
        //  %a{:href => "category.html"}
        //    =image_tag('muscles/icons8-glutes-96.png', :class => 'img-responsive')
        //    %h6 Pierna posterior
    %div{:style => "clear: both"}