.col-sm-12.content-box
  .row.row-featured
    %div{:style => "clear: both"}
    .relative.content.clearfix
      %div
        .tab-lite
            / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "tab1", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab1", :role => "tab"}
                %i.icon-th>
                Artículos
            %li{:role => "presentation"}
              %a{"aria-controls" => "tab2", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab2", :role => "tab"}
                %i.icon-doc-1>
                Escritos
            %li{:role => "presentation"}
              %a{"aria-controls" => "tab3", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab3", :role => "tab"}
                %i.icon-videocam>
                Videos
            %li{:role => "presentation"}
              %a{"aria-controls" => "tab3", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab4", :role => "tab"}
                %i.icon-megaphone-1>
                Audios
            / Tab panes
          .tab-content
            #tab1.tab-pane.active{:role => "tabpanel"}
              .col-lg-12.tab-inner
                .row
                  %ul.cat-list.col-xxs-12
                    %li
                      %a{:href => "job-list.html"} Atlanta
                    %li
                      %a{:href => "job-list.html"} Dallas
                    %li
                      %a{:href => "job-list.html"} New York
                    %li
                      %a{:href => "job-list.html"} Santa Ana/Anaheim
                    %li
                      %a{:href => "job-list.html"} Wichita
                    %li
                      %a{:href => "job-list.html"} Anchorage
                    %li
                      %a{:href => "job-list.html"} Miami
                    %li
                      %a{:href => "job-list.html"} Los Angeles
            #tab2.tab-pane{:role => "tabpanel"}
              .col-lg-12.tab-inner
                .row
                  %ul.cat-list.cat-list-border.col-xxs-12
                    %li
                      %a{:href => "job-list.html"}
                        Full Time Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Part Time Jobs
                        Retail Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Construction Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Marketing Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Accounting Jobs
                        Customer Service Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Security Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Engineering Jobs
                    %li
                      %a{:href => "job-list.html"}
                        Maintenance Jobs
            #tab3.tab-pane{:role => "tabpanel"}
              .col-lg-12.tab-inner
                .row
                  %ul.cat-list.cat-list-border.col-xxs-12
                    %li
                      %a{:href => "job-list.html"}
                        Aramark Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        AT Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        Armellini Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        Aflac Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        Avon Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        Aon Service Corporation Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        AmeriBanc National Jobs  Careers
                    %li
                      %a{:href => "job-list.html"}
                        ASML Jobs  Careers
            #tab4.tab-pane{:role => "tabpanel"}
              .col-lg-12.tab-inner
                .row
                  %ul.cat-list.col-xxs-12
                    %li
                      %a{:href => "job-list.html"} Atlanta
                    %li
                      %a{:href => "job-list.html"} Dallas
                    %li
                      %a{:href => "job-list.html"} New York
                    %li
                      %a{:href => "job-list.html"} Santa Ana/Anaheim
                    %li
                      %a{:href => "job-list.html"} Wichita
                    %li
                      %a{:href => "job-list.html"} Anchorage
                    %li
                      %a{:href => "job-list.html"} Miami
                    %li
                      %a{:href => "job-list.html"} Los Angeles
%div{:style => "clear: both"}